@model RecaldeN_Taller1.Models.Equipo

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>Estas seguro de que quieres borrar esto?</h3>
<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            <p id="nombre">@Html.DisplayFor(model => model.Nombre)</p>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartidosJugados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartidosJugados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartidosGanados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartidosGanados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartidosPerdidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartidosPerdidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartidosEmpatados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartidosEmpatados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Historia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Historia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Content(Model.Logo)" alt="@Model.Nombre" style="max-width: 200px;" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEstadio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEstadio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Borrar" class="btn btn-danger" onclick="Borrar()"/>  ||
        <a asp-action="List" class="btn btn-info"> Regresar a la Lista</a>
    </form>
</div>